<!DOCTYPE html>
<html>
	<head>
		<title>#{get 'title' /}</title>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
		<link rel="stylesheet" type="text/css" href="@{'/public/stylesheets/main.css'}">
		#{get 'moreStyles' /}
		<link rel="shortcut icon" type="image/png" href="@{'/public/images/favicon.png'}">
		<script src="@{'/public/javascripts/jquery-1.4.2.min.js'}" type="text/javascript"></script>
		<script src="@{'/public/javascripts/jquery-ui-1.8.5.custom.min.js'}" type="text/javascript"></script>
		<script src="@{'/public/javascripts/validator.min.js'}" type="text/javascript"></script>
		<script src="@{'/public/javascripts/qa.js'}" type="text/javascript"></script>
		<script src="@{'/public/wmd/wmd.js'}" type="text/javascript"></script>
		#{get 'moreScripts' /}
	</head>
	<body #{if user && user.isBlocked()}class="cheaterWarning"#{/if}>
		<div class="main">
			<div class="header">
				<a href="@{Application.index}"></a>
			</div><!-- end header -->
			<div class="navigation">
			#{if user}
				<div class="search">
				#{if user.canSearch()}
					<form class="search" action="@{Application.search}" method="GET">
						<input type="search" results="5" name="term" #{if term}value="${term}"#{/if} placeholder=&{'search.placeholder'} required />
						<input type="submit" value="&{'search.button'}" />
					</form>
				#{/if}
				#{else}
					&{'user.cannotsearch', user.timeToSearch()}
					<!-- Somebody make it change after 15 seconds with a cool jquery script -->
				#{/else}
				</div><!-- end search -->
			#{/if}
			<div class="user">
			#{if user}
				#{if user.canPost()}
					<a href="@{Application.index}#askquestion">&{'question.new'}</a>
				#{/if}
				#{else}
					&{'user.cannotpost', user.timeToPost()}
					<!-- Somebody make this change as well after 30 seconds with a cool jquery script -->
				#{/else}|
				&{'hello'} ${user.getName()}!
				#{if user.isModerator()}
					<a href="@{Application.admin}">(&{'moderator'})</a>
				#{/if}
				<a href="@{Application.notifications(0)}">&{'notifications'} ${user.getNewNotifications().size() > 0 ? '(' + user.getNewNotifications().size() + ')' : ''}</a>
				<a href="@{Application.showprofile(user.getName())}">&{'user.profile'}</a>
				<a href="@{Secure.logout}">&{'user.logout'}</a>
			#{/if}
			#{else}
				<a href="@{Secure.login}">&{'user.login'}</a>
				&{'or'}
				<a href="@{Application.register}">&{'user.signup'}</a>
			#{/else}	
			</div><!-- end user -->
			</div><!-- end navigaion -->
			#{if flash.error}
				<div class="notificationInfo error">
					&{flash.error}
				</div>
			#{/if}
			#{elseif flash.success}
				<div class="notificationInfo">
					&{flash.success}
				</div>
			#{/elseif}
	 		#{elseif user && user.getVeryRecentNewNotification() != null}
				<div class="notificationInfo">
					&{'question.newanswer'}:
					<a href="@{CUser.followNotification(user.getVeryRecentNewNotification().id())}#answer-${user.getVeryRecentNewNotification().getAbout().id()}">${user.getVeryRecentNewNotification().getAbout().summary()}</a>
				</div>
			#{/elseif}
			#{elseif user && user.isBlocked()}
				<div class="cheaterWarning">&{'user.blockedbymoderator'} &{'reason'} ${user.getStatusMessage()}</div>
			#{/elseif}
			<div class="content">
			#{doLayout /}
			</div><!-- end content -->
			<div class="footer">
				<a href="@{Application.selectLanguage("en")}">&{'english'}</a> | 
				<a href="@{Application.selectLanguage("de")}">&{'german'}</a> | 
	 			<a href="@{Application.selectLanguage("fr")}">&{'french'}</a> | 
				<a href="@{Application.selectLanguage("h4")}">&{'haxor'}</a> || 
				<a href="@{Application.showStatisticalOverview}">&{'statistic'}</a>
				&{'group3ftw'}
			</div><!-- end footer>
		</div><!-- end main -->
	</body>
</html>
