<!DOCTYPE html>
<html>
    <head>
        <title>#{get 'title' /}</title>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
        <link rel="stylesheet" type="text/css" media="screen" href="@{'/public/stylesheets/main.css'}">
        #{get 'moreStyles' /}
        <link rel="shortcut icon" type="image/png" href="@{'/public/images/favicon.png'}">
        <script src="@{'/public/javascripts/jquery-1.4.2.min.js'}" type="text/javascript" charset="utf-8"></script>
        <script src="@{'/public/javascripts/jquery-ui-1.8.5.custom.min.js'}" type="text/javascript" charset="utf-8"></script>
        <script src="@{'/public/javascripts/qa.js'}" type="text/javascript" charset="utf-8"></script>
        #{get 'moreScripts' /}
    </head>
    <body
	#{if user && user.isCheating()}
		class="cheaterWarning"
	#{/if}
    >
    	<div class="main">
    		<div class="header">
    			<a href="@{Application.index}"></a>
    		</div><!-- end header -->
			#{if user && user.isCheating()}
				<div class="cheaterWarning">You are either spamming this cool Site or voting somebody up! STOP IT!!!</div>
			#{/if}
	   		#{elseif user && user.getVeryRecentNewNotification() != null}
    			<div class="notificationInfo">
	    			New answer to one of your questions:
	    			<a href="@{Secured.followNotification(user.getVeryRecentNewNotification().getID())}">${user.getVeryRecentNewNotification().getAbout().summary()}</a>
    			</div>
    		#{/elseif}
    		<div class="navigation">
			<a href="@{Application.index}">Questions</a>
			<span class="search">
    			<form class="search" action="@{Application.search}" method="GET">
    				<input type="text" name="term" />
    				<input type="submit" value="Search" />
				</form> 
			</span>
			<span class="user">
				#{if user}
						Hi ${user.name()}!
						<a href="@{Application.notifications}">Notifications ${user.getNewNotifications().size() > 0 ? '(' + user.getNewNotifications().size() + ')' : ''}</a>
						<a href="@{Application.showprofile(user.name())}">Profile</a>
						<a href="@{Application.deleteuser}">Delete</a>
						<a href="@{Secure.logout}">Logout</a>
					#{/if}
					#{else}
						Not logged in
						<a href="@{Secure.login}">Login</a>
						or
						<a href="@{Application.register}">Sign Up</a>
					#{/else}	
			</span>
    		</div><!-- end navigaion -->
    		<div class="content">
			#{doLayout /}
        	</div><!-- end content -->
        	<div class="footer">
        		<a>
       				<a href="@{Application.showStatisticalOverview}">Statistics</a>
       			</a>
        		A project by Group 3.
        	</div><!-- end footer>
        </div><!-- end main -->
    </body>
</html>
