<!DOCTYPE html>
<html>
	<head>
		<title>#{get 'title' /}</title>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
		<link rel="stylesheet" type="text/css" href="@{'/public/stylesheets/main.css'}">
		#{get 'moreStyles' /}
		<link rel="shortcut icon" type="image/png" href="@{'/public/images/favicon.png'}">
		<script src="@{'/public/javascripts/jquery-1.4.2.min.js'}" type="text/javascript"></script>
		<script src="@{'/public/javascripts/jquery-ui-1.8.5.custom.min.js'}" type="text/javascript"></script>
		<script src="@{'/public/javascripts/h5f.js'}" type="text/javascript"></script>
		<script src="@{'/public/javascripts/qa.js'}" type="text/javascript"></script>
		#{get 'moreScripts' /}
	</head>
	<body #{if user && user.isBlocked()}class="cheaterWarning">#{/if}>
		<div class="main">
			<div class="header">
				<a href="@{Application.index}"></a>
			</div><!-- end header -->
			#{if user && user.isBlocked()}
				<div class="cheaterWarning">You have been blocked by a moderator. Reason: ${user.getStatusMessage()}</div>
			#{/if}
	 		#{elseif user && user.getVeryRecentNewNotification() != null}
				<div class="notificationInfo">
					New answer to one of your questions:
					<a href="@{Secured.followNotification(user.getVeryRecentNewNotification().getID())}">${user.getVeryRecentNewNotification().getAbout().summary()}</a>
				</div>
			#{/elseif}
			<div class="navigation">
			<div class="search">
				<form class="search" action="@{Application.search}" method="GET">
					<input type="search" results="5" name="term" #{if term}value="${term}"#{/if} placeholder="Search questions" />
					<input type="submit" value="Search" />
				</form> 
			</div><!-- end search -->
			<div class="user">
				#{if user}
						Hi ${user.getName()}! #{if user && user.isModerator()}(moderator)#{/if}
						<a href="@{Application.notifications(0)}">Notifications ${user.getNewNotifications().size() > 0 ? '(' + user.getNewNotifications().size() + ')' : ''}</a>
						<a href="@{Application.showprofile(user.getName())}">Profile</a>
						<a href="@{Secure.logout}">Logout</a>
					#{/if}
					#{else}
						<a href="@{Secure.login}">Login</a>
						or
						<a href="@{Application.register}">Sign Up</a>
					#{/else}	
			</div><!-- end user -->
			</div><!-- end navigaion -->
			<div class="content">
			#{doLayout /}
			</div><!-- end content -->
			<div class="footer">
				<a>
	 				<a href="@{Application.showStatisticalOverview}">Statistics</a>
	 			</a>
				A project by Group 3.
			</div><!-- end footer>
		</div><!-- end main -->
	</body>
</html>
