#{extends 'main.html' /}
#{set title:'ajopi Admin Interface' /}
<ul>
		<li>
			<h2>Administration</h2>
			<h3>Database</h3>
			<p class="left">Clear the Database</p>
			<div class="right"><a href="@{Application.clearDB}">Do it</a></div>
			<p class="left">Load XML File to the Database</p>
			<div class="right">
				<form action=@{Secured.loadXML()} method="POST" enctype="multipart/form-data">
				<input type="file" id="xml" name="xml" />
				<input type="submit" value="Upload" />
			</form></div>
		</li>
	</ul>