#{extends 'main.html' /}
#{set title:'ajopi - Block User' /}
#{if user != null && user.isModerator()}
<h1>You are about to block the User ${blockuser}</h1>
	<div class="profilenavi">
		#{form @Secured.blockUser()}
		<table>
			<tr>
				#{field 'username'}
				<td><label for="username">&{'Name: '}</label></td>
				<td><input type="text" name="username" id="username" value="${blockuser}" readonly/></td>
				#{/field}
			</tr>
			<tr>
				#{field 'reason'}
				<td><label for="reason">&{'Reason: '}</label></td>
				<td><input type="text" name="reason" id="reason" value="" /></td>
				#{/field}
			</tr>
			<tr>
				#{field 'block'}
				<td><label for="block">&{'User will be: '}</label></td>
				<td align="center"><input type="radio" name="block" id="block" value="block" />blocked<br>
				<input type="radio" name="block" id="block" value="unblock" />unblocked</td>
				#{/field}
			</tr>
			<tr>
				<td><input type="submit" id="blockUser" value="Block User" /></td>
			</tr>
		</table>
		#{/form}
	</div><!-- end showprofile -->
#{/if}
#{else}
	#{set title:'Error' /}
	<h1>You are not a Moderator or there is no such User to block</h1>
#{/else}