#{extends 'main.html' /}
#{if answer}
	#{set title:'ajopi - ' + answer.summary()  /}
<a href="@{Application.question(question.id())}">back</a>
	<ul>
		<li>
			<h2>#{showProfile answer /}:</h2>
			<p>
				${answer.content()}
			</p>
			#{date question /}
			#{if user && question.owner() != user}
				#{vote question /}
			#{/if}
		</li>
	</ul>
	#{if comments.size() > 0}
		<p class="comments">Comments</p>
		<ul class="comments">
			#{list items:comments, as:'comment'}
			<li class="comments">
				<h2>#{showProfile comment /}:</h2>
				<p>${comment.content()}</p>
				#{date comment /}
				#{if user && comment.owner() == user}
					<a href="@{Secured.deleteCommentAnswer(comment.id(), question.id(), answer.id())}">Delete</a>
				#{/if}
			</li>
			#{/list}
		</ul>
	#{/if}
	#{if user}
		<h1>Add Comment</h1>
		#{form @Secured.newCommentAnswer(question.id(), answer.id())}
			#{field 'content'}
				<textarea name="${field.name}" class="${field.errorClass}"></textarea>
			#{/field}
			<input type="submit" value="Post" />
		#{/form}
	#{/if}
#{/if}
