#{extends 'main.html' /}
#{if question}
	#{set title:'ajopi - ' + question.summary() /}
	<a href="@{Application.question(question.id())}">back</a>
	<ul>
		#{question question:question, user:user, extended:false /}
	</ul>
	#{comments entry:question, user:user /}
	#{if user}
		<h1>Add Comment</h1>
		<div class="message">
			#{form @CQuestion.newCommentQuestion(question.id())}
				#{field 'content'}
					<textarea name="${field.name}" class="${field.errorClass}"></textarea>
				#{/field}
				<input type="submit" value="Add new comment" />
			#{/form}
		</div><!-- end message -->
	#{/if}
#{/if}
