#{extends 'main.html' /}


#{if question}
#{set title:'ajopi - Question by ' + question.owner().name /}
<ul>
	
		<li onclick="goto('@@{Application.question(question.id())}')">
			<h2>${question.owner().name()}:</h2>
			<p>
				${question.content()}
			</p>
			<a href="@{Application.commentQuestion(question.id())}"><FONT SIZE="1"> Comments ${question.comments().size()}</FONT> </a> 
			#{date question /}
			#{if user && question.owner() != user}
				#{vote question /}
			#{/if}
		</li>
	
	
	</ul>
	
	
		#{if comments.size() > 0}
		<h1>Comments</h1>
		<ul>
			#{list items:comments, as:'comment'}
			<li>
				<h2>${comment.owner().name()}:</h2>
				<p>
					${comment.content()}
				</p>
				#{date comment /}
				#{if user && comment.owner() == user}
					
				#{/if}
			</li>
			#{/list}
		</ul>
	#{/if}
		#{if user}
		<h1>Add Comment</h1>
		#{form @Secured.newCommentQuestion(question.id())}
			#{field 'content'}
	        	<textarea name="${field.name}" class="${field.errorClass}"></textarea>
			#{/field}
			<input type="submit" value="Post" />
		#{/form}
	#{/if}

		
	#{/if}