#{extends 'main.html' /}


#{if answer}
#{set title:'ajopi - Answer by ' + answer.owner().name /}
<ul>
	
		<li>
			<h2>${answer.owner().name()}:</h2>
			<p>
				${answer.content()}
			</p>
			<FONT SIZE="1"> Comments ${answer.comments().size()}</a>
			<a href ="@{Application.question(question.id())}"> &#160; &#160;<<</FONT> </a>
			#{date question /}
			#{if user && question.owner() != user}
				#{vote question /}
			#{/if}
		</li>
	</ul>
		#{if comments.size() > 0}
		<FONT SIZE = 1>
		<h1>Comments</h1>
		<ul>
			#{list items:comments, as:'comment'}
			<li>
				<h2>${comment.owner().name()}:</h2>
				<p>
					${comment.content()}
				</p>
				#{date comment /}
				#{if user && comment.owner() == user}
				<a href="@{Secured.deleteCommentAnswer(comment.id(), question.id(), answer.id())}">Delete</a>
				#{/if}
			</li>
			#{/list}
		</ul>
	#{/if}
		#{if user}
		<h1>Add Comment</h1>
		#{form @Secured.newCommentAnswer(question.id(), answer.id())}
			#{field 'content'}
	        	<textarea name="${field.name}" class="${field.errorClass}"></textarea>
			#{/field}
			<input type="submit" value="Post" />
		#{/form}
		</FONT>
	#{/if}

		
	#{/if}