#{extends 'main.html' /}

#{if question}
	#{set title:'ajopi - mark spam: ' + question.summary().escape() /}
	<div class="deleteQuestion">
		<p>&{'spam.reallyspam'}</p>
	</div>
	<ul>#{question question:question, user:user, extended:false /}</ul>
	<ul class="optionLinks">
		<p><a href="@{CQuestion.markSpam(question.id())}">
			#{if user.isModerator()}
				&{'spam.confirmspam.mod'}
			#{/if}
			#{else}
				&{'spam.confirmspam.user'}
			#{/else}</a></p>
		<p><a href="@{Application.question(question.id())}">&{'spam.notconfirm'}</a></p>
	</ul>
#{/if}
#{else}
	#{set title:'Error' /}
	<h1>&{'question.nonexistent'}</h1>
#{/else}