#{extends 'main.html' /}

#{if _comment}
	#{set title:'ajopi - mark spam: ' + _comment.summary().escape() /}
	<div class="deleteQuestion">
		<p>&{'spam.reallyspam'}</p>
	</div>
	<ul><li class="comments"><p>${_comment.summary()}</ul>
	<ul class="optionLinks">
		<p><a href="@{CAnswer.markSpamComment(_question.id(),_answer.id(),_comment.id())}">&{'spam.confirmspam'}</a></p>
		<p><a href="@{Application.question(_question.id())}">&{'spam.notconfirm'}</a></p>
	</ul>
#{/if}
#{else}
	#{set title:'Error' /}
	<h1>No such question</h1>
#{/else}