#{extends 'main.html' /}
#{if answer}
	#{set title:'ajopi - mark spam: ' + question.summary().escape() /}
	<div class="deleteQuestion">
		<p>&{'spam.reallyspam'}</p>
	</div>
	<ul>#{answer answer:answer, user:user, extended:false /}</ul>
	<ul class="optionLinks">
		<p><a href="@{CAnswer.markSpam(question.id(),answer.id())}">
			#{if user.isModerator()}
				&{'spam.confirmspam.mod'}
			#{/if}
			#{else}
				&{'spam.confirmspam.user'}
			#{/else}</a></p>
		<p><a href="@{Application.question(question.id())}">&{'spam.notconfirm'}</a></p>
	</ul>
#{/if}
#{else}
	#{set title:'Error' /}
	<h1>No such Answer</h1>
#{/else}