#{extends 'main.html' /}

#{if question}
	#{set title:'ajopi - delete question: ' + question.summary().escape() /}
	<div class="deleteQuestion">
		<p>&{'question.reallydelete'}</p>
		<p>&{'question.deletenotice'}</p>
	</div>
	<ul>#{question question:question, user:user, extended:false /}</ul>
	<ul class="optionLinks">
		<p><a href="@{CQuestion.deleteQuestion(question.id())}">&{'question.confirmdelete'}</a></p>
		<p><a href="@{Application.question(question.id())}">&{'question.abortdelete'}</a></p>
	</ul>
#{/if}
#{else}
	#{set title:'Error' /}
	<h1>&{'question.nonexistent'}</h1>
#{/else}