#{extends 'main.html' /}

#{if showUser}
	#{set title:'ajopi - delete ' + showUser.getName().escape() + '?'  /}
	<ul>
		<li>
			<h2>&{'user.delete'}</h2>
			<p>
			<ul class="optionLinks">
				<li><a href="@{CUser.deleteUser(true)}">Yes, but keep all questions and answers.</a></li>
				<li><a href="@{CUser.deleteUser(false)}">Yes, delete everything.</a></li>
				<li><a href="@{Application.showprofile(showUser.getName())}">No, I've changed my mind.</a></li>
			</p>
		</li>
	</ul>
#{/if}
#{else}
	#{set title:'Error' /}
	<h1>&{'user.nonexistent'} ${name}</h1>
#{/else}

