#{extends 'main.html' /}

#{if showUser}
	#{set title:'ajopi - delete ' + showUser.getName() + '?'  /}
	<ul>
		<li>
			<h2>Do you really want to delete the Account ${showUser.name}?</h2>
			<p>
			<ul class="optionLinks">
				<li><a href="@{CUser.anonymizeUser(showUser.getName())}">Yes, but keep all questions and answers.</a></li>
				<li><a href="CUser">Yes, delete everything.</a></li>
				<li><a href="@{Application.showprofile(showUser.getName())}">No, I've changed my mind.</a></li>
			</p>
		</li>
	</ul>
#{/if}
#{else}
	#{set title:'Error' /}
	<h1>No such user</h1>
#{/else}

