#{extends 'main.html' /}

#{if showUser}
	#{set title:'ajopi - delete ' + showUser.getName().escape() + '?'  /}
	<ul>
		<li>
			<h2>&{'user.delete'}</h2>
			<p>
			<ul class="optionLinks">
				<li><a href="@{Secured.anonymizeUser(showUser.getName())}">&{'user.confirmanonymize'}</a></li>
				<li><a href="@{Secured.deleteUser(showUser.getName())}">&{'user.confirmdelete'}</a></li>
				<li><a href="@{Application.showprofile(showUser.getName())}">&{'user.abortdelete'}</a></li>
			</p>
		</li>
	</ul>
#{/if}
#{else}
	#{set title:'Error' /}
	<h1>&{'user.nonexistent'} ${name}</h1>
#{/else}

