#{extends 'main.html' /}

#{if user}
#{set title:'ajopi - Profile editor' /}

	#{form @Secured.saveProfile()}
	
		<p id="username-field">
			#{field 'username'}
			<label for="username">&{'Username: '}</label>
			<label for="username">&{user.name}</label>
			#{/field}
		</p>
		
		
		<p id="email-field">
			#{field 'email'}
			<label for="email">&{'Email: '}</label>
			<input type="text" name="email" id="email" value="${user.email}" />
			#{/field}
		</p>
		
		<p id="fullname-field">
			#{field 'fullname'}
			<label for="fullname">&{'Real Name: '}</label>
			<input type="text" name="fullname" id="fullname" value="${user.fullname}" />
			#{/field}
		
		<p id="birthday-field">
			#{field 'birthday'}
			<label for="birthday">&{'Birthday: '}</label>
			<input type="text" name="birthday" id="birthday" value="${user.getDateOfBirth()}" />
			#{/field}
		</p>
		
		
		<p id="website-field">
			#{field 'website'}
			<label for="website">&{'Website: '}</label>
			<input type="text" name="website" id="website" value="${user.website}" />
			#{/field}
		</p>
		
		<p id="profession-field">
			#{field 'profession'}
			<label for="profession">&{'Profession: '}</label>
			<input type="text" name="profession" id="profession" value="${user.profession}" />
			#{/field}
		</p>
		
		<p id="employer-field">
			#{field 'employer'}
			<label for="employer">&{'Employer: '}</label>
			<input type="text" name="employer" id="employer" value="${user.employer}" />
			#{/field}
		</p>
		
		<p id="biography-field">
			#{field 'biography'}
			<label for="biography">&{'Biography: '}</label>
			<textarea name="${field.name}">${user.biography}</textarea>
			#{/field}
		</p>
		
		
		<p id="saveprofile-field">
			<input type="submit" id="saveProfile" value="Save Profile" />
		</p>
	
	#{/form}

#{/if}#{else}
	#{set title:'Error' /}
	<h1>No such user ${name}</h1>
#{/else}