#{extends 'main.html' /}
#{set title:'ajopi - Profile' /}
#{if user}
	<div class="editprofile">
		#{form @Secured.saveProfile()}
			<table>
				<tr>
					#{field 'Username'}
					<td><label for="username">&{'Username: '}</label></td>
					<td><label for="username">${user.name}</label></td>
					#{/field}
				</tr>
				<tr>
					#{field 'email'}
					<td><label for="email">&{'Email: '}</label></td>
					<td><input type="text" name="email" id="email" value="${user.email}" /></td>
					#{/field}
				</tr>
				<tr>
					#{field 'fullname'}
					<td><label for="fullname">&{'Real Name: '}</label></td>
					<td><input type="text" name="fullname" id="fullname" value="${user.fullname}" /></td>
					#{/field}
				</tr>
				<tr>
					#{field 'birthday'}
					<td><label for="birthday">&{'Birthday: '}</label></td>
					<td><input type="text" name="birthday" id="birthday" value="${user.getDateOfBirth()}" /></td>
					#{/field}
				</tr>
				<tr>
					#{field 'website'}
					<td><label for="website">&{'Website: '}</label></td>
					<td><input type="text" name="website" id="website" value="${user.website}" /></td>
					#{/field}
				</tr>
				<tr>
					#{field 'profession'}
					<td><label for="profession">&{'Profession: '}</label>
					<td><input type="text" name="profession" id="profession" value="${user.profession}" /></td>
					#{/field}
				</tr>
				<tr>
					#{field 'employer'}
					<td><label for="employer">&{'Employer: '}</label></td>
					<td><input type="text" name="employer" id="employer" value="${user.employer}" /></td>
					#{/field}
				</tr>
				<tr>
					#{field 'biography'}
					<td><label for="biography">&{'Biography: '}</label></td>
					<td><textarea class="editprofile" name="${field.name}">${user.biography}</textarea></td>
					#{/field}
				</tr>
				<tr>
					<td><input type="submit" id="saveProfile" value="Save Profile" /></td>
				</tr>
			</table>
		#{/form}
	</div><!-- end showprofile -->
#{/if}
#{else}
	#{set title:'Error' /}
	<h1>No such user ${name}</h1>
#{/else}
