#{extends 'main.html' /}
#{set title:'ajopi' /}
<ul>
	#{list items:questions, as:'question'}
		#{if question.owner() == user}
			<li class="own" onclick="goto('@@{Application.question(question.id())}')">#{/if}
		#{else}
			<li onclick="goto('@@{Application.question(question.id())}')">
		#{/else}
			<a href="@{Application.question(question.id())}">
				<h2>#{showProfile question /}:</h2>
			</a>
			<p>${question.content()}</p>
			#{date question /}
			#{tags question:question, editable:false /}  
			#{if user && question.owner() != user && !user.isBlocked() && !question.isLocked()}
				#{vote question /}
			#{/if}
		</li>
	#{/list}
</ul>
#{if user && !user.isBlocked()}
	<h1>Ask Question</h1>
	<div class="message">
		#{form @Secured.newQuestion()}
			#{field 'content'}
				<textarea name="${field.name}" id="newQuestion" class="${field.errorClass}"></textarea>
			#{/field}
			#{field 'tags'}
				<p>
					<label for="tags">Label this question:</label>
					<input type="text" id="${field.name}" name="${field.name}" class="${field.errorClass}" tagsJSON="@{Application.tags}">
				</p>
			#{/field}
			<input type="submit" value="Post" />
		#{/form}
	</div><!-- end askquestion -->
#{/if}
