#{extends 'main.html' /}

#{set title:'ajopi - Notifications for ' + user.getName() /}
<div>
	<div class="notificationnavi">
		<a href="@{Application.notifications(0)}">&{'user.notification'}</a> | 
		<a href="@{Application.notifications(1)}">&{'user.watchinglist'}</a> | 
		<a href="@{Application.notifications(2)}">&{'question.recommended'}</a>
	</div><!-- end profilenavi -->
	#{if content == 0}
		<h1>&{'notification.inbox'}</h1>
		<ul>
		#{list items:notifications, as:'notification'}
			<li>
			<div class="message">
				#{if notification.isNew()}&{'new'}#{/if}
				#{showProfile notification.getAbout() /} &{'answer.answeredto'}
				"${notification.getAbout().getQuestion().summary()}":
				<p><a href="@{Secured.followNotification(notification.getID())}">${notification.getAbout().content().raw()}</a></p>
				#{date notification.getAbout() /}
				<p class="commands"><a href="@{Secured.deleteNotification(notification.getID())}">&{'notification.delete'}</a></p>
			</div><!-- end message -->
		#{/list}
		#{else}
			<div class="message">
				<p>&{'notification.none'}</p>
			</div><!-- end message -->
		#{/else}
		#{if user.getNewNotifications().size() > 0}
			<li><a href="@{Secured.clearNewNotifications}">&{'notification.markasread'}</a>
		#{/if}
		<div class="message">
			<p class="hint">&{'watch.hint'}</p>
		</div><!-- end message -->
		</ul>
	#{/if}
	#{elseif content == 1}
		<h1>&{'user.watchinglist'}</h1>
		#{if watchingQuestions.size() != 0}
			<ul>
				#{list items:watchingQuestions, as:'question'}
					#{question question:question, user:user, extended:false, custom:'watchlist' /}
				#{/list}
			</ul>
		#{/if}
		#{else}
			<div class="message">
				<p>&{'watch.none'}</p>
			</div><!-- end message -->
		#{/else}
		<div class="message">
			<p class="hint">&{'watch.hint'}</p>
		</div><!-- end message -->
	#{/elseif}
	#{elseif content == 2}
		<h1>&{'question.recommended'}</h1>
		#{if suggestedQuestions.size() != 0}
			<h2>&{'user.mightknowanswer'}:</h2>
			<ul>
				#{list items:suggestedQuestions, as:'question'}
					#{question question:question, user:user, extended:false /}
				#{/list}
			</ul>
		#{/if}
		#{else} 
			<div class="message">
				<p>&{'user.norecommention'}</p>
			</div><!-- end message -->
		#{/else}
		<div class="message">
			<p class="hint">&{'question.recommendhint'}</p>
		</div><!-- end message -->
	#{/elseif}
</div>
