#{extends 'main.html' /}

#{set title:'ajopi - Notifications for ' + user.getName() /}
<div>
	<div class="notificationnavi">
		<a href="@{Application.notifications(0)}">Notification</a> | 
		<a href="@{Application.notifications(1)}">Watchinglist</a> | 
		<a href="@{Application.notifications(2)}">Recommended Question</a>
	</div><!-- end profilenavi -->
	#{if content == 0}
		<h1>Notification Inbox</h1>
		<ul>
		#{list items:notifications, as:'notification'}
			<li>
			<div class="message">
				#{if notification.isNew()}*new*#{/if}
				#{showProfile notification.getAbout() /} answered to
				"${notification.getAbout().getQuestion().summary()}":
				<p><a href="@{CUser.followNotification(notification.getID())}">${notification.getAbout().content().raw()}</a></p>
				#{date notification.getAbout() /}
				<p class="commands"><a href="@{CUser.deleteNotification(notification.getID())}">delete notification</a></p>
			</div><!-- end message -->
		#{/list}
		#{else}
			<div class="message">
				<p>No notifications available at all - go watch some questions!</p>
			</div><!-- end message -->
		#{/else}
		#{if user.getNewNotifications().size() > 0}
			<li><a href="@{CUser.clearNewNotifications}">Mark all notifications as read</a>
		#{/if}
		<div class="message">
			<p class="hint">You'll find a <a>watch</a> link on the page of every individual question.
			You're also automatically set to watch your own questions after asking them.</p>
		</div><!-- end message -->
		</ul>

	#{/if}
	#{elseif content == 1}
		<h1>Watchinglist</h1>
		#{if watchingQuestions.size() != 0}
			<ul>
				#{list items:watchingQuestions, as:'question'}
					#{question question:question, user:user, extended:false, custom:'watchlist' /}
				#{/list}
			</ul>
		#{/if}
		#{else}
			<div class="message">
				<p>You're not watching any questions - go watch some!</p>
			</div><!-- end message -->
		#{/else}
		<div class="message">
			<p class="hint">You'll find a <a>watch</a> link on the page of every individual question.
			You're also automatically set to watch your own questions after asking them.</p>
		</div><!-- end message -->
	#{/elseif}
	#{elseif content == 2}
		<h1>Recommended Question</h1>
		#{if suggestedQuestions.size() != 0}
			<h2>By the way, you might also know the answer to these questions:</h2>
			<ul>
				#{list items:suggestedQuestions, as:'question'}
					#{question question:question, user:user, extended:false /}
				#{/list}
			</ul>
		#{/if}
		#{else} 
			<div class="message">
				<p>We're not able to recommend any (more) questions for you to answer at the moment.</p>
			</div><!-- end message -->
		#{/else}
		<div class="message">
			<p class="hint">We'll try to list here questions having similar labels or content to those that you've already successfully answered.</p>
		</div><!-- end message -->
	#{/elseif}
</div>
