#{extends 'main.html' /}

#{if question}
	#{set title:'ajopi - ' + question.summary()  /}
	<ul>
		<li class="question #{if question.owner() == user}own#{/if}">
			<h2>#{showProfile question /}:</h2>
			<p>${question.content().nl2br()}</p>
			#{tags question:question, editable:user?.canEdit(question) /}  
			#{if user != null && !question.isLocked()}
				<a href ="@{Application.commentQuestion(question.id())}">Add a new comment</a>
				#{if user.isObserving(question)}
					<a href="@{Secured.unwatchQuestion(question.id())}"> | Unwatch</a>
				#{/if}#{else}
					<a href="@{Secured.watchQuestion(question.id())}"> | Watch</a>
				#{/else}
				#{if user.isModerator()}
					<a href="@{Secured.lockQuestion(question.id())}"> | Lock</a>
				#{/if}
			#{/if}
			#{if user && user.isModerator() && question.isLocked()}
				<a href="@{Secured.unlockQuestion(question.id())}"> Unlock</a>
			#{/if}
			#{if user && user.canEdit(question)}
				<a href="@{Secured.deleteQuestion(question.id())}"> | Delete</a>
			#{/if}
			#{date question /}
			#{if user && question.owner() != user && !user.isBlocked()}
				#{vote question /}
			#{/if}
		</li>
		#{if question.comments().size() != 0}
			<ul class="comments">
				#{list items:question.comments(), as:'comment'}
					<li class="comments">
						<p>#{showProfile comment /}:
						${comment.content().nl2br()}</p>
						#{date comment /}
						#{if user && user.canEdit(comment)}
							<a href="@{Secured.deleteCommentQuestion(question.id(), comment.id())}">Delete</a>
						#{/if}
					</li>	
				#{/list}
			</ul>
		#{/if}
	</ul>
	#{if answers.size() > 0}
		<h1>Answers</h1>
		<ul class="answers">
			#{list items:answers, as:'answer'}
			#{if answer.owner() == user}<li class="own">#{/if}
			#{elseif answer.isBestAnswer()}<li class="bestAnswer">#{/elseif}
			#{else}<li>#{/else}
				<h2>#{showProfile answer /}:</h2>
				<p>${answer.content().nl2br()}</p>
				#{if user != null && !user.isBlocked() && !question.isLocked()}
					<a href ="@{Application.commentAnswer(question.id(),answer.id())}">Add a new comment</a>
				#{/if}
				#{date answer /}
				
				#{if user && user.canEdit(answer) && !question.isLocked()}
					<a href="@{Secured.deleteAnswer(question.id(), answer.id())}"> | Delete</a>
				#{/if}
				#{if user && user.canEdit(question) && !question.isLocked() && question.isBestAnswerSettable() && question.getBestAnswer() != answer}
					<a href="@{Secured.selectBestAnswer(question.id(), answer.id())}"> | Select as Best</a>
				#{/if}
				#{if user && answer.owner() != user && !user.isBlocked()}
					#{vote answer /}
				#{/if}
				
			</li>
				#{if answer.comments().size() != 0}
					<ul class="comments">
						#{list items:answer.comments(), as:'comment'}
							<li class="comments">
								<p>#{showProfile comment /}:
								${comment.content().nl2br()}</p>
								#{date comment /}
								#{if user && user.canEdit(comment)}
									<a href="@{Secured.deleteCommentAnswer(question.id(), answer.id(), comment.id())}">Delete</a>
								#{/if}
							</li>	
						#{/list}
					</ul>
				#{/if}
			#{/list}
		</ul>
	#{/if}
	#{if similarQuestions && similarQuestions.size() != 0}
		<h2>Related Questions</h2>
		<ul>
		#{list items:similarQuestions, as:'relatedQ'}
			<li class="relatedQ">
				<a href="@{Application.question(relatedQ.id())}">${relatedQ.summary()}</a>
			</li>
		#{/list}
		</ul>
	#{/if}
	#{if user && !user.isBlocked() && !question.isLocked()}
		<h1>Add Answer</h1>
		<div class="message">
			#{form @Secured.newAnswer(question.id())}
				#{field 'content'}
					<textarea name="${field.name}" class="${field.errorClass}"></textarea>
				#{/field}
				<input type="submit" value="Add new answer" />
			#{/form}
		</div><!-- end message -->
	#{/if}
	#{if question.isLocked()}
		<ul><li>This question is locked &mdash; no further answers can be posted.</ul>
	#{/if}
#{/if}#{else}
	#{set title:'Error' /}
	<h1>Question does not exist.</h1>
#{/else}
