#{extends 'main.html' /}


#{if question}
#{set title:'ajopi - ' + question.summary()  /}
	<ul>
		<li>
			<h2>#{userName question /}:</h2>
			<p>
				${question.content()}
			</p>
			<FONT SIZE="1"> Comments ${question.comments().size()}</a>
			<a href ="@{Application.commentQuestion(question.id())}">  &#160; &#160;>> </FONT> </a> 
			#{date question /}
			#{if user && question.owner() == user}
			<br><a href="@{Secured.deleteQuestion(question.id())}">Delete</a>
				#{vote question /}
			#{/if}
		</li>
	</ul>
	
	#{if answers.size() > 0}
		<h1>Answers</h1>
		<ul>
			#{list items:answers, as:'answer'}
			<li>
				<h2>#{userName answer /}:</h2>
				<p>
					${answer.content()}
				</p>
				<FONT SIZE="1"> Comments ${answer.comments().size()}</a>
				<a href ="@{Application.commentAnswer(question.id(), answer.id())}">  &#160; &#160;>> </FONT></a>
				#{date answer /}
				#{if user && answer.owner() == user}
				<br><a href="@{Secured.deleteAnswer(answer.id(), question.id())}">Delete</a>
					#{vote answer /}
				#{/if}
			</li>
			#{/list}
		</ul>
	#{/if}
	
	
	#{if user}
		<h1>Add Answer</h1>
		#{form @Secured.newAnswer(question.id())}
			#{field 'content'}
	        	<textarea name="${field.name}" class="${field.errorClass}"></textarea>
			#{/field}
			<input type="submit" value="Post" />
		#{/form}
	#{/if}


#{/if}#{else}
	#{set title:'Error' /}
	<h1>Question does not exist.</h1>
#{/else}

