#{extends 'main.html' /}

#{if question}
#{set title:'ajopi - ' + question.summary()  /}
	<ul>
		<li>
			<h2>#{showProfile question /}:</h2>
			<p>${question.content()}</p>
			#{tags question:question, editable:question?.owner() == user /}  
			#{if user != null}
				<FONT SIZE="1"> <a href ="@{Application.commentQuestion(question.id())}">  &#160; &#160;Add a new comment</FONT></a>
			#{/if}
			#{if user && question.owner() == user}
			<a href="@{Secured.deleteQuestion(question.id())}">Delete</a>
			#{/if}
			#{if user && question.owner() != user && !user.isCheating()}
			#{date question /}
				#{vote question /}
			#{/if}
		</li>
		#{if question.getSimilarQuestions().size() != 0}
		<a>Related Questions</a>
			#{list items:similarQuestions, as:'relatedQ'}<p>
			<li>
			#{showProfile relatedQ /}:
				<a href="@{Application.question(relatedQ.id())}">
				${relatedQ.summary()}</a>#{date relatedQ /}</p>
			#{/list}
			</li>
		<a href="@{Application.relatedQuestions(question.id())}">More...</a> 
		#{/if}
		#{if question.comments().size() != 0}
			<p class="comments">Comments</p>
			<ul class="comments">
				#{list items:question.comments(), as:'comment'}
					<li class="comments">
						<h2>#{showProfile comment /}:</h2>
						<p>${comment.content()}</p>
						#{date comment /}
						#{if user && comment.owner() == user}
							<a href="@{Secured.deleteCommentQuestion(comment.id(), question.id())}">Delete</a>
						#{/if}
					</li>	
				#{/list}
			</ul>
			<br />
		#{/if}
	</ul>
	#{if answers.size() > 0}
		<h1>Answers</h1>
		<ul>
			#{list items:answers, as:'answer'}
			#{if answer.isBestAnswer()}<li class="bestAnswer">#{/if}
			#{else}<li>#{/else}
				<h2>#{showProfile answer /}:</h2>
				<p>${answer.content()}</p>
				#{if user != null && !user.isCheating()}
					<FONT SIZE="1"> <a href ="@{Application.commentAnswer(question.id(),answer.id())}">  &#160; &#160;Add a new comment</FONT></a>
				#{/if}
				#{date answer /}
				
				#{if user && answer.owner() == user}
					<br>
					<a href="@{Secured.deleteAnswer(answer.id(), question.id())}">Delete</a>
				#{/if}
				#{if user && answer.owner() != user && !user.isCheating()}
					#{vote answer /}
				#{/if}
				#{if user && question.owner() == user && !user.isCheating()}
					<a href="@{Secured.selectBestAnswer(question.id(),answer.id())}">Best</a>
				#{/if}
				
			</li>
				#{if answer.comments().size() != 0}
					<p class="comments">Comments</h3>
					<ul class="comments">
						#{list items:answer.comments(), as:'comment'}
							<li class="comments">
								<h2>#{showProfile comment /}:</h2>
								<p>${comment.content()}</p>
								#{date comment /}
								#{if user && comment.owner() == user}
									<a href="@{Secured.deleteCommentAnswer(comment.id(), question.id(), answer.id())}">Delete</a>
								#{/if}
							</li>	
						#{/list}
					</ul>
					<br>
				#{/if}
			#{/list}
		</ul>
	#{/if}
	#{if user && !user.isCheating()}
		<h1>Add Answer</h1>
		#{form @Secured.newAnswer(question.id())}
			#{field 'content'}
	        		<textarea name="${field.name}" class="${field.errorClass}"></textarea>
			#{/field}
			<input type="submit" value="Post" />
		#{/form}
	#{/if}
		
		
		
		
#{/if}#{else}
	#{set title:'Error' /}
	<h1>Question does not exist.</h1>
#{/else}
