#{extends 'main.html' /}

#{set title:'ajopi - register'  /}
<div class="register">
	<h1>Registration</h1>
	<div class="message">
		#{form @signup()}
			<table>	
				#{if flash.error}
					<tr>
						<td colspan="2">&{flash.error}</td>
					</tr>
				#{/if}
				#{if flash.success}
					<tr>
						<td colspan="2">&{flash.success}</td>
					</tr>
				#{/if}
				<tr>
					<td>&{'secure.username'}</td>
					<td><input type="text" name="username" id="username" value="${flash.username}" required autofocus /></td>
				</tr>
				<tr>
					<td>&{'secure.password'}</td>
					<td><input type="password" name="password" id="password" /></td>
				</tr>
				<tr>
					<td>&{'secure.passwordrepeat'}</td>
					<td><input type="password" name="passwordrepeat" id="password" /></td>
				</tr>
				<tr>
					<td>E-Mail:</td>
					<td><input type="email" name="email" id="email" required /> <object /></td>
				</tr>
				<tr>
					<td><input type="submit" id="register" value="Sign Up" /><td>
				</tr>
			</table>
		#{/form}
	</div><!-- end message -->
</div><!-- end register -->
