#{extends 'main.html' /}

#{set title:'ajopi - register'  /}
<div id="register">
	<h1>&{'secure.title'}</h1>
	
	#{form @signup()}
		
		#{if flash.error}
			<p class="error">
				&{flash.error}
			</p>
		#{/if}
		#{if flash.success}
			<p class="success">
				&{flash.success}
			</p>
		#{/if}
	
		<p id="username-field">
			<label for="username">&{'secure.username'}</label>
			<input type="text" name="username" id="username" value="${flash.username}" />
		</p>
		<p id="password-field">
			<label for="password">&{'secure.password'}</label>
			<input type="password" name="password" id="password" value="" />
		</p>
		<p id="email-field">
			<label for="email">E-Mail:</label>
			<input type="text" name="email" id="email" value="" />
		</p>
		<p id="signup-field">
			<input type="submit" id="register" value="Sign Up" />
		</p>
	#{/form}
</div>
