#{extends 'main.html' /}

#{if question}
#{set title:'ajopi - ' + 'Related questions to' + question.summary()  /}
#{if question.getSimilarQuestions().size() != 0}
		<h1>Related questions</h1>
		<ul>
			#{list items:question.getSimilarQuestions(), as:'questions'}
				<li onclick="goto('@@{Application.question(questions.id())}')">
	<a href="@{Application.question(questions.id())}">
				<h2>#{showProfile questions /}:</h2>
				<p>${questions.content()}</p>
				#{date questions /}
				</a>
				</li>
			#{/list}
		</ul>
		<br />
	#{/if}
	#{else}
		<h1>No related questions</h1>
	#{/else}
#{/if}#{else}
	#{set title:'Error' /}
	<h1>Question does not exist.</h1>
#{/else}
