#{extends 'main.html' /}

#{set title:'Search: ' + term.escape() /}
<h1>&{'search'} ${term}</h1>

#{if results.size() > 0}
	<ul>
		#{list items:results, as:'question'}
			#{question question:question, user:user, extended:false /}
		#{/list}
	</ul>
	#{if maxIndex > 0}
		<p class = "pagination">
		#{if index != 0}
			<a href="@{Application.search(term, index-1)}">&{'previous'}</a>
		#{/if}
		${index + 1}/${maxIndex + 1}
		#{if index != maxIndex}
			<a href="@{Application.search(term, index+1)}">&{'next'}</a>
		#{/if}
	#{/if}
</p>
#{/if}#{else}
	<div class="message">
		<p>&{'search.fail'} ${term}</p>
	</div><!-- end message -->
#{/else}
