#{extends 'main.html' /}
#{set title:'Search: '+term /}
<h1>Search: ${term}</h1>

#{if results.size() > 0}
	<ul>
		#{list items:results, as:'question'}
			#{question question:question, user:user, extended:false /}
		#{/list}
	</ul>
	${index + 1} -- ${maxIndex + 1}
	<p class = "pagination">
	#{if index != 0}
		<a href="@{Application.search(term, index-1)}">Previous</a>
	#{/if}
	#{if index != maxIndex}
		<a href="@{Application.search(term, index+1)}">Next</a>
	#{/if}
</p>
#{/if}#{else}
	<div class="message">
		<p>No questions matching '${term}' found!</p>
	</div><!-- end message -->
#{/else}
