#{extends 'main.html' /}

#{if user}
#{set title:'ajopi - Profile' /}

	<ul>
		<li>
		<a href="@{Application.editprofile}">Edit Profile</a>
		</li>
	</ul>
	
	<div class="showprofile">
	<li>
		<p id="username-field">
			 <label for="username">Username:</label> <div id="username">${user.name}</div>
		</p>
		<p id="email-field">
			 <label for="email">Email:</label> <div id="email">${user.email}</div>
		</p>
		<p id="fullname-field">
			<label for="fullname">Real name:</label> <div id="fullname">${user.fullname}</div>
		</p>
		<p id="age-field">
			<label for="age">Age:</label> #{if user.age != 0} <div id="age">${user.age}</div> #{/if}
		</p>
		<p id="website-field">
			<label for="website">Website:</label> <div id="website">${user.website}</div>
		</p>
		<p id="profession-field">
			<label for="profession">Profession:</label> <div id="profession">${user.profession}</div>
		</p>
		<p id="employer-field">
			<label for="employer">Employer:</label> <div id="employer">${user.employer}</div>
		</p>
		<p id="biography-field">
			<label for="biography">Biography:</label> <div id="biography">${user.biography}</div>
		</p>
		
		<p id="saveprofile-field">
		</p>
	</li>
	<li>
		<p id="numberOfQuestions">
			<label for="numberOfQuestions">Number of questions:</label> <div id="numberOfQuestions">${user.getQuestions().size()}</div>
		</p>
		<p id="numberOfAnswers">
			<label for="numberOfAnswers">Number of answers:</label> <div id="numberOfAnswers">${user.getAnswers().size()}</div>
		</p>
		<p id="bestAnswers">
			<label for="bestAnswers">Number of best answers:</label> <div id="bestAnswers">${user.bestAnswers().size()}</div>
		</p>
		<p id="highRatedAnswers">
			<label for="highRatedAnswers">Number of high rated answers:</label> <div id="highRatedAnswers">${user.highRatedAnswers().size()}</div>
		</p>
	</li>
	</div>
#{/if}#{else}
	#{set title:'Error' /}
	<h1>No such user ${name}</h1>
#{/else}