#{extends 'main.html' /}
#{set title:'ajopi - statistics overview' /}
<h1>Statistic</h1>
<div class="statistic">
	<table>
		<tr>
			 <td>Questions:</td>
			 <td>${numberOfQuestions}</td>
		</tr>
		<tr>
			<td>Answers:</td>
			<td>${numberOfAnswers}</td>
		</tr>
		<tr>
			<td>Users:</td>
			<td>${numberOfUsers}</td>
	
		</tr>
		<tr>
			<td>Best answers:</td>
			<td>${numberOfBestAnswers}</td>
		</tr>
		<tr>
			<td>High rated answers:</td>
			<td>${numberOfHighRatedAnswers}</td>
		</tr>
		<tr>
			<td>Questions per day:</td>
			<td>${questionsPerDay}</td>
		</tr>
		<tr>
			<td>Questions per week:</td>
			<td>${questionsPerWeek}</td>
		</tr>
		<tr>
			<td>Questions per month:</td>
			<td>${questionsPerMonth}</td>
		</tr>
		<tr>
			<td>Answers per day:</td>
			<td>${answersPerDay}</td>
		</tr>
		<tr>
			<td>Answers per week:</td>
			<td>${answersPerWeek}</td>
		</tr>
		<tr>
			<td>Answers per month:</td>
			<td>${answersPerMonth}</td>
		</tr>
	</table>
</div><!-- end statistic -->
