#{extends 'main.html' /}

#{set title:'ajopi - Profile' /}
#{if user != null && showUser}
	<div class="profilenavi">
	#{if canEdit}
		<a href="@{Application.deleteuser}">Delete</a> | 
		<a href="@{Application.editProfile(showUser.getName())}">Edit</a>
	#{/if}
	</div><!-- end profilenavi -->
	<div>
		<table>
			<tr>
				<td class="left"><label for="username">Username:</label></td>
				<td class="right">${showUser.name}</td>
			</tr>
			#{if showUser.isBlocked()}
				<tr>
					<td class="blocked"><label for="blocked">Blocked because:</label></td>
					<td class="blocked">${showUser.getStatusMessage()}</td>
				</tr>
			#{/if}
			<tr>
				<td class="left"><label for="email">Email:</label>
				<td class="right">${showUser.email}</td>
			</tr>
			<tr>
				<td class="left"><label for="fullname">Real name:</label>
				<td class="right">${showUser.fullname}</td>
			</tr>
			<tr>
				<td class="left"><label for="age">Age:</label> 
				<td class="right">#{if showUser.age != 0} ${showUser.age}#{/if}</td> 
			</tr>
			<tr>
				<td class="left"><label for="website">Website:</label>
				<td class="right">${showUser.website}</td>
			</tr>
			<tr>
				<td class="left"><label for="profession">Profession:</label>
				<td class="right">${showUser.profession}</td>
			</tr>
			<tr>
				<td class="left"><label for="employer">Employer:</label>
				<td class="right">${showUser.employer}</td>
			</tr>
			<tr>
				<td class="left"><label for="biography">Biography:</label>
				<td class="right">${showUser.biography}</td>
			</tr>
			<tr>
				<td class="left"><label for="recentquestions">Recent questions:</label>
				<td class="right">
					<ul class="showprofile">
						#{list items:showUser.getRecentQuestions(), as:'question'}
						<li><a href="@{Application.question(question.id())}">${question.content()}</a>#{date question /}</li>
						#{/list}
					</ul>
				</td>
			</tr>
			<tr>
				<td class="left"><label for="recentanswers">Recent answers:</label>
				<td class="right">
					<ul class="showprofile">
						#{list items:showUser.getRecentAnswers(), as:'answer'}
						<li><a href="@{Application.question(answer.getQuestion().id())}">${answer.content()}</a>#{date answer /}</li>
						#{/list}
					</ul>				
				</td>
			</tr>
			<tr>
				<td class="left"><label for="recentcomments">Recent comments:</label>
				<td class="right">
					<ul class="showprofile">
						#{list items:showUser.getRecentComments(), as:'comment'}
						<li><a href="@{Application.question(comment.getQuestion().id())}">${comment.content()}</a>#{date comment /}</li>
						#{/list}
					</ul>
				</td>
			</tr>
				<td class="left"><label for="numberOfQuestions">Number of questions:</label>
				<td class="right">${showUser.getQuestions().size()}</td>
			<tr>
				<td class="left"><label for="numberOfAnswers">Number of answers:</label>
				<td class="right">${showUser.getAnswers().size()}</td>
			</tr>
			<tr>
				<td class="left"><label for="bestAnswers">Number of best answers:</label>
				<td class="right">${showUser.bestAnswers().size()}</td>
			</tr>
			<tr>
				<td class="left"><label for="highRatedAnswers">Number of high rated answers:</label>
				<td class="right">${showUser.highRatedAnswers().size()}</td>
			</tr>
		</table>
	</div><!-- end showprofile -->
	#{if user.isModerator() && user != showUser}
	<div class="message">
		<table>
			#{if !showUser.isBlocked()}
			#{form @Secured.blockuser(showUser.getName())}
			<td class="blocked">Block this User</td>
			<tr>
				#{field 'reason'}
				<td class="blocked"><label for="reason">&{'Reason: '}</label></td>
				<td><input required type="text" name="reason" id="reason" value="" /></td>
				#{/field}
			</tr>
			<tr>
				<td></td><td><input type="submit" id="blockUser" value="Block User" /></td>
			</tr>
			#{/form}
			#{/if}
			#{if showUser.isBlocked()}
			#{form @Secured.unblockuser(showUser.getName())}
			<td class="blocked">This User is blocked. Unblock now?</td>
			<tr>
				<td><input type="submit" id="blockUser" value="Unblock User" /></td>
			</tr>
			#{/form}
			#{/if}
		</table>
	</div><!-- end profilenavi -->
	#{/if}
#{/if}
#{else}
	#{set title:'Error' /}
	<div class="message">
		<p>You are not logged in or there is no such User</p>

#{/else}
