#{extends 'main.html' /}
#{set title:'ajopi - statistics overview' /}
<h1>&{'statistic'}</h1>
<div class="message">
	<table>
		<tr>
			 <td>&{'questions'}:</td>
			 <td>${numberOfQuestions}</td>
		</tr>
		<tr>
			<td>&{'answers'}:</td>
			<td>${numberOfAnswers}</td>
		</tr>
		<tr>
			<td>&{'user'}:</td>
			<td>${numberOfUsers}</td>
	
		</tr>
		<tr>
			<td>&{'answers.best'}:</td>
			<td>${numberOfBestAnswers}</td>
		</tr>
		<tr>
			<td>&{'answers.highrated'}:</td>
			<td>${numberOfHighRatedAnswers}</td>
		</tr>
		<tr>
			<td>&{'questions'} &{'posts.perday'}:</td>
			<td>${questionsPerDay}</td>
		</tr>
		<tr>
			<td>&{'questions'} &{'posts.perweek'}:</td>
			<td>${questionsPerWeek}</td>
		</tr>
		<tr>
			<td>&{'questions'} &{'posts.permonth'}:</td>
			<td>${questionsPerMonth}</td>
		</tr>
		<tr>
			<td>&{'answers'} &{'posts.perday'}:</td>
			<td>${answersPerDay}</td>
		</tr>
		<tr>
			<td>&{'answers'} &{'posts.perweek'}:</td>
			<td>${answersPerWeek}</td>
		</tr>
		<tr>
			<td>&{'answers'} &{'posts.permonth'}:</td>
			<td>${answersPerMonth}</td>
		</tr>
	</table>
</div><!-- end statistic -->
