/*********************** 
basic page style
************************/
body {
	background: #00272b;
	font-family: Helvetica, Veranda, Arial, sans-serif;
}
body.cheaterWarning {
	background: #b92130;
}
/*********************** 
headings
************************/
h1 {
	color: #ff8400;
	font-size: 1.3em;
	margin-top: 20px;
}
h1:first-child {
	margin-top: 0px;
}

h2 {
	color: #ff8400;
	margin: 0;
	font-size: 12pt;
}
h3 {
	color: #ff8400;
	font-size: 12pt;
}
/*********************** 
links
************************/
a {
	color: #ff8400;
	text-decoration: none;
	font-weight: bold;
}
a:hover {
	color: #c71c1c;
}
/*********************** 
lines
************************/
hr {
	color: #000;	
}
/*---------------------------------------------------------------------------------------*/
/*---------------------------------------------------------------------------------------*/
/*********************** 
global
************************/
div.global {
	min-width: 780;
	max-width: 980px;
	margin: 0 auto;
}
/*********************** 
navigation
************************/
div.navigation {
	padding: 10px;
	background: #555555;
	color: #222222;
	width:170px;
	float:right;
	
}
div.navigation ul{
	list-style:none;
	padding: 0;
	margin: 0;
}
div.navigation ul li{
	list-style:none;
	margin:5px;
}
div.hiddenlogin {
	width: 170px;
}
#mini_login {
	float: right;
	right: 5px; 	
}	
#mini_login input {
	max-width: 100px;	 	
}
#mini_login + .user {
	display: none;
}
/*********************** 
main
************************/
div.main {
	background: #000000;
	margin: 20px 200px 20px 0px;
	padding: 0;
	min-width: 580px;
	max-width: 780px;
}
p.pagination {
	color: #888;
	text-align: center;
}
/*********************** 
header
************************/
div.header {
	margin:	0;
}
div.header a {
	display: block;
	height: 131px;
	width: 250px;
	background: url(../images/logo.png) no-repeat center;
}
/*********************** 
content
************************/	
div.content {
	padding: 5px 10px;
	font-size: 14pt;
}
div.content div.commands a {
	font-size: 10pt;
}
div.content button {
	font-size: 14pt;
}
div.content ul {
	padding: 0;
	margin: 0;
}

div.content li.bestAnswer {
	background: #2b6026;
}
div.content li.own {
	background: #320;
}

div.content li {
	background: #333333;
	list-style: none;
	margin: 10px 0;
	padding: 7px;
	position:relative;
}
div.content pre {
	overflow-x: auto;
}
		
div.content li[onclick] {
	cursor: pointer;
}
		
div.content li[onclick]:hover {
	background: #666;
}

div.content li.question p,
div.content ul.answers p {
	margin-top: 0.2em;
	margin-bottom: 0.5em;
}
	
div.content li p {
	color: #aecbfb;
}
div.content li p.relatedQ {
	margin: 2px;
	color: #ff8400;
}
	
div.content span.vote {
	bottom: 7px;
	font-size: 2em;
	position: absolute;
	right: 7px;
}
div.content span.vote a {
	font-size: 30pt;
}
div.content span.vote a.voted {
	color: #FF0;
	text-shadow: #FF0 0px 0px 10px;
}

div.content div.date {
	top: 7px;
	color: #FFF;
	position: absolute;
	right: 7px;
	font-size: 10pt;
}
			
div.content textarea {
	height: 50px;
	width: 710px;
	background: #ccc;
	border: 1px #000000 solid;
	color: #000000;
}
	
/*********************** 
footer
************************/
div.footer {
	text-align: right;
	font-size: 0.7em;
	color: #333333;
	padding: 3px;
}
/*---------------------------------------------------------------------------------------*/
/*---------------------------------------------------------------------------------------*/
/*********************** 
message
************************/
div.message {
	background: #333333;
	padding: 5px;	
	color: #aecbfb;
}
#askquestion:target {
	background: #AF7817;
}
div.message p {
	margin: 5px 0px;
}
div.message form {
	margin: 10px 0;
	padding: 5px;
}
div.message textarea {
	height: 80px;
	width: 740px;
	background: #ccc;
	border: 1px #000000 solid;
	color: #000000;
}
/*********************** 
comments
************************/
div.content ul.comments {
	padding-left: 50px;
}
div.content ul.comments p {
	margin: 0px;
}

div.content li.comments {
	background:#181818;
	font-size: 10pt;
}
li.comments a {
	font-size: 10pt;
}
p.comments {
	color: #ff8400;
	font-weight: bold;
	padding-left: 50px;
	font-size: 0.9em;
}
/*********************** 
show profile
************************/
div.showprofile {
	color: #888;
}
td.right{
	color: #888;
}
td.left {
	width: 30%;
	text-align:left;
	vertical-align: top;
	color: #888;
}
ul.showprofile li {
	list-style: none;
	padding-top: 25px;
}
td.blocked {
	color: #f00;
}
/*********************** 
edit profile
************************/
div.editprofile {
	background: #333333;
	color: #aecbfb;
}
div.editprofile textarea {
	height: 100px;
	width: 610px;
}
div.profilenavi {
	background: #333333;
	margin: 4px;
	padding: 5px;
	color: #ff8400;
	font-size: 12pt;
}
ul.optionLinks a {
	font-size: 1.2em;
}
/*********************** 
Cheater Warning
************************/
div.cheaterWarning {
	padding: 5px;
	margin-bottom: 5px;
	font-size: 1.4em;
	color: #FFFFFF;
	font-weight: bold;
	text-align: center;
	background: #f00;
}
/*********************** 
Notification Info
************************/
div.notificationnavi {
	text-align:left;
	background: #333333;
	padding: 5px;
	margin: 4px 0px;	
	color: #ff8400;
	font-size: 12pt;
}
div.notificationInfo {
	text-align:left;
	margin: 5px 0px;
	padding: 5px;
	color: #fff;
	background: #2b6026;
}
div.notificationInfo.error {
	background: #602b26;
}
div.message p.hint {
	font-size: 0.8em;
	color: #888;
}
div.message p.commands {
	position: absolute;
	top: 15px;
	right: 5px;
	font-size: 10pt;
}
/*********************** 
confirm delete question
************************/
div.deleteQuestion {
	color: #888;
	font-size: 14pt;
}
/*********************** 
is Locked
************************/
div.isLocked {
	position: absolute;
	top: 35px;
	right: 7px;
}
/*********************** 
tags and tag autocomplete box
************************/
div.tags .tag {
	color: #000;
	background: #aecbfb;
	border: 2px #aecbfb outset;
	padding: 1px;
	font-size: 10pt;
	font-weight: normal;
}

.ui-autocomplete {
	position: absolute;
	cursor: default;
	border: 2px #aecbfb outset;
	background: #aecbfb;
	list-style: none;
	padding: 2px;
	margin: 0;
	font-size: 10pt;
}
.ui-autocomplete .ui-menu-item a {
	color: #000;
	background: #aecbfb;
	display: block;
	padding: 2px;
}
.ui-autocomplete a.ui-state-hover {
	/* inverse colors */
	color: #aecbfb;
	background: #000;
}
.ui-corner-all { -moz-border-radius: 4px; -webkit-border-radius: 4px; border-radius: 4px; }
* html .ui-autocomplete { width:1px; } /* without this, the menu expands to 100% in IE6 */
/*********************** 
Various overlays
************************/
div.overlay {
	color: #000;
	text-shadow: #FFF 0px 0px 5px;
	background: #555;
	text-align: center;
	padding: 4px;
	opacity: 0.9;
}
span.highlight {
	background: #FF0;
	color: #000;
}
/*********************** 
HTML5 form validation
************************/
span.placeholder {
	font-size: 0.8em;
	color: #888;
}
/* source: https://github.com/ryanseddon/H5F */
.content input[type="text"], .content input[type="password"],
.content input[type="email"], .content input[type="url"] {
	min-width: 200px;
}
input[required] + object,
input[pattern] + object,
input[type="email"] + object,
input[type="url"] + object {
	background: url(../images/h5f_validation.png) 0px 24px no-repeat;
	width: 17px; height: 17px;
}
input:invalid + object,
input.error + object {
	background-position: 0px 0px;
}
input:required:invalid + object,
input.required + object {
	background-position: 0px -32px;
}
input:valid:focus + object,
input.valid:focus + object { 
	background-position: 0px -64px;
}
/* source: http://flowplayer.org/tools/demos/validator/ */
body > div.error {
	/* supply height to ensure consistent positioning for every browser */
	height: 15px;
	background-color: #FFFE36;
	border: 1px solid #E1E16D;
	font-size: 11px;
	color: #000;
	padding: 3px 10px;
	margin-left: -2px;

	/* CSS3 spicing for mozilla and webkit */
	-moz-border-radius:4px;
	-webkit-border-radius:4px;
	-moz-border-radius-bottomleft:0;
	-moz-border-radius-topleft:0;
	-webkit-border-bottom-left-radius:0;
	-webkit-border-top-left-radius:0;

	-moz-box-shadow:0 0 6px #ddd;
	-webkit-box-shadow:0 0 6px #ddd;
}
body > div.error p {
	margin: 0px;
}
