/*********************** 
basic page style
************************/
body {
	background: #00272b;
	font-family: Helvetica, Veranda, Arial, sans-serif;
}
body.cheaterWarning {
	background: #b92130;
}
/*********************** 
headings
************************/
h1 {
	color: #ff8400;
	font-size: 1.3em;
	margin-top: 30px;
}

h2 {
	color: #ff8400;
	margin: 0;
	font-size: 12pt;
}
h3 {
	color: #ff8400;
	margin: 0;
}
/*********************** 
links
************************/
a {
	color: #ff8400;
	text-decoration: none;
	font-weight: bold;
}
a:hover {
	color: #c71c1c;
}
/*---------------------------------------------------------------------------------------*/
/*---------------------------------------------------------------------------------------*/
/*********************** 
main
************************/
div.main {
	background: #000000;
	margin:	20px auto;
	max-width: 800px;
	min-width:500px;
	padding: 0;
	position: relative;
}

/*********************** 
header
************************/
div.header {
	margin:	0;
}

div.header a {
	display: block;
	height: 131px;
	width: 250px;
	margin: 16px;
	background: url(../images/logo.png) no-repeat center;
}
/*********************** 
navigation
************************/
div.navigation {
	padding: 5px;
	background: #555555;
	color: #222222;
	height:28px;
}

div.navigation div.user {			
	float:right;
	right: 	5px;
	margin-top: 4px;
}

div.navigation div.user a {
	margin-left: 5px;
}

div.navigation div.search {
	float:left;
}

/*********************** 
content
************************/	
div.content {
	padding: 10px;
	font-size: 16pt;
}
div.content a{
	font-size: 12pt;
}
div.content button {
	font-size: 16px;
}
div.content ul {
	padding: 0;
	margin: 0;
}

div.content li.bestAnswer {
	background: #2b6026;
}

div.content li {
	background: #333333;
	list-style: none;
	margin: 10px 0;
	padding: 7px;
	position: relative;
}
		
div.content li[onclick] {
	cursor: pointer;
}
		
div.content li[onclick]:hover {
	background: #333333;
}
		
div.content li p {
	color: #aecbfb;
}
	
div.content span.vote {
	bottom: 7px;
	font-size: 2em;
	position: absolute;
	right: 7px;
}
div.content span.vote a {
	font-size: 30pt;
}

div.content div.date {
	top: 7px;
	color: #FFF;
	position: absolute;
	right: 7px;
	font-size: 10px;
}
div.content form {
	background: #333;
	margin: 10px 0;
	padding: 7px;
	position: relative;
}
			
div.content textarea {
	height: 50px;
	width: 710px;
	background: #555;
	border: 1px #000000 solid;
	color: #000000;
}
		
div.content input[type="submit"] {
	display: block;
}
/*********************** 
footer
************************/
div.footer {
	text-align: right;
	font-size: 0.7em;
	color: #333333;
	padding: 3px;
}
/*---------------------------------------------------------------------------------------*/
/*---------------------------------------------------------------------------------------*/
/*********************** 
ask question
************************/
div.askquestion {
	font-size: 12pt;
}
div.askquestion textarea {
	height: 80px;
	width: 760px;
	background: #555;
	border: 1px #000000 solid;
	color: #000000;
}
/*********************** 
comments
************************/
div.content ul.comments {
	padding-left:30px;
}

div.content li.comments {
	background:#181818;
	font-size: 0.9em;
}
p.comments {
	color: #ff8400;
	font-weight: bold;
	padding-left:30px;
}
li.comments h2 {
	color: #ff8400;
	font-weight: bold;
	font-size: 0.9em;
}

/*********************** 
show profile
************************/
div.showprofile {
	color: #888;
}
td.right{
	color: #888;
}
td.left {
	width: 30%;
	text-align:left;
	vertical-align: top;
	color: #888;
}
li.showprofile {
	background: #333333;
	width: 800px;
	list-style: none;
	margin: 5px;
	padding: 7px;
	position: relative;
}
/*********************** 
edit profile
************************/
div.editprofile textarea {
	height: 100px;
	width: 610px;
}
div.profilenavi {
	text-align:right;
	background: #333333;
	margin: 4px;
	padding: 5px;	
}
/*********************** 
Cheater Warning
************************/
div.cheaterWarning {
	padding: 5px;
	margin-bottom: 5px;
	font-size: 1.4em;
	color: #FFFFFF;
	font-weight: bold;
	text-align: center;
	background: #f00;
}
/*********************** 
Notification Info
************************/
div.notificationInfo {
	padding: 5px;
	margin-bottom: 5px;
	background: #2b6026;
	color: #222222;
	font-weight:bold;
}
/*********************** 
Statistic
************************/
div.statistic {
	color:#888;
	background: #222;
}
/*********************** 
Registration
************************/
div.register {
	color:#888;
}
/*********************** 
Login
************************/
div.login {
	color:#888;
}
/*********************** 
tags and tag autocomplete box
************************/
div.tags .tag {
	color: #000;
	background: #aecbfb;
	border: 2px #aecbfb outset;
	padding: 1px;
}

.ui-autocomplete {
	position: absolute;
	cursor: default;
	border: 2px #aecbfb outset;
	background: #aecbfb;
	list-style: none;
	padding: 2px;
	margin: 0;
}
.ui-autocomplete .ui-menu-item a {
	color: #000;
	background: #aecbfb;
	display: block;
	padding: 2px;
}
.ui-autocomplete a.ui-state-hover {
	/* inverse colors */
	color: #aecbfb;
	background: #000;
}
.ui-corner-all { -moz-border-radius: 4px; -webkit-border-radius: 4px; border-radius: 4px; }
* html .ui-autocomplete { width:1px; } /* without this, the menu expands to 100% in IE6 */
