do not commit all the eclipse stuff
/.classpath
/cache
/log
/.settings
/.buildpath
/.project
/eclipse


# do not commit all temporary play stuff
/tmp
/logs
/test-result
/server.pid

# and do not commit the stuff from mac users
.DS_Store
